[user]
	name = Stian Hegglund
	email = stian.hegglund@protectorforsikring.no
[alias]
	last = log -1 HEAD
	unstage = reset HEAD --
	lg=log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[color]
	ui = true
[core]
	excludesfile = /Users/stianh/.gitignore
	editor = subl -w
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
